header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    h1{
        padding-left: 20px;
        font-size: 40px;
    }

    .links{
        padding-right: 20px;
        ul{
            display: flex;
            gap: 20px;
            font-size: larger;
            li{
                text-decoration: none;
                list-style: none;
            }
        }
    }
}