*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: #0077FF;
}

main{
    min-height: 70vh;
    max-height: fit-content;
}

footer{
    height: 200px;
    background-color: bisque;
}