<main>
    <div class="studForm">
        <div class="text">Student Form</div>
        <input type="text" placeholder="firstName" [(ngModel)]="firstName">
        <input type="text" placeholder="age" [(ngModel)]="age">
        <input type="text" placeholder="grade" [(ngModel)]="grade">
        <input type="text" placeholder="subjects" [(ngModel)]="subjects">
        <div class="checkbox">
            <input type="checkbox" name="isEnrolled" id="" [(ngModel)]="check">
            <span>Enrolled?</span>
        </div>
        <div class="text">Address</div>
        <input type="text" placeholder="street" [(ngModel)]="street">
        <input type="text" placeholder="city" [(ngModel)]="city">
        <input type="text" placeholder="zip" [(ngModel)]="zip">

        <button (click)="create()">Create Student</button>
        <button (click)="checkDel()">Delete Checked Students</button>

        <div class="card" *ngFor="let el of studentsArray let index = index">
            <div class="topT">index: {{index}}</div>
            <div class="topT">Students Info</div>
            <div class="name">name: {{el.firstname}}</div>
            <div class="age">age: {{el.agee}}</div>
            <div class="grade">grade: {{el.gradee}}</div>
            <div class="subject">subject: {{el.subj}}</div>
            <div class="botT">Address </div>
            <div class="street">street: {{el.streett}}</div>
            <div class="city">city: {{el.cityy}}</div>
            <div class="zip">zip: {{el.zipp}}</div>
            <div class="check">Enrolled: {{el.checkk}}</div>

            <button (click)="delete(index)">Delete</button>
            <button (click)="editt(index)">Edit</button>
        </div>

    </div>
 
</main>


